<h1>Dashboard</h1>

<%= search_form_for @q do |f| %>
  <%= f.label :state, "Estado" %>
  <%= f.select :state, options_for_select(Proyect.statuses, @q.state) %>
  <%= f.submit %>
<% end %>

<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Nombre</th>
      <th scope="col">Descripcion</th>
      <th scope="col">Status</th>
      <th scope="col">Fecha de inicio</th>
      <th scope="col">Fecha de termino</th>
    </tr>
  </thead>
  <tbody>
    <% @proyects.each do |p| %>
        <tr>
            <td><%= p.name %></td>
            <td><%= p.description %></td>
            <td><%= p.state %></td>
            <td><%= p.initial_date %></td>
            <td><%= p.finish_date %></td>
        </tr>
    <% end %>
  </tbody>
</table>

<div class="row">
    <%= paginate(@proyects) %>
</div>